
.containernav {
  background-color: #1c74e4;
  height: 70px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.logoimg{
  width: 80px;
  height: 35px;
  margin-left: 40px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #74b4f4 ;
}

.navbutton{
  display: flex;
  padding-right: 25px;
}

.button1{
  border-radius: 60px;
}

.card-solicitud {
  width: 30%;
}

.button-maps{
    background-color: #1c74e4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
    height: auto;
    border-radius: 8px;
}